<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Book Vet Appointment</title>
</head>

<body>
    <h1>Book Vet Appointment</h1>
    <form th:action="@{/book-appointment}" method="post">
        <label for="date">Date:</label>
        <input type="date" id="date" name="date" required><br><br>

        <label for="time">Time:</label>
        <input type="time" id="time" name="time" required><br><br>

        <input type="submit" value="Book Appointment">
    </form>
</body>

</html>