<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Home</title>
</head>
<body>
   <header>
      <h1>Home</h1>
      <nav>
         <ul>
            <li><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/book-appointment}">Book Appointment</a></li>
            <li><a th:href="@{/appointments-dashboard}">View Appointments</a></li>
         </ul>
      </nav>
   </header>

   <main>
      <h2>Welcome!</h2>
   </main>

   <footer>
      <p>&copy; 2023 Vet Tech</p>
   </footer>
</body>
</html>
